# Re-create your own _One Hot Encoder_

In [ ]:
import pandas as pd
import seaborn as sns

## (1) The Titanic Dataset

In [ ]:
# Loading 100% of the dataset. 
# Choose 0.5 to load only 50% of the rows randomly

data = sns.load_dataset('titanic').sample(frac = 1) 
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
707,1,1,male,42.0,0,0,26.2875,S,First,man,True,E,Southampton,yes,True
789,0,1,male,46.0,0,0,79.2000,C,First,man,True,B,Cherbourg,no,True
723,0,2,male,50.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
872,0,1,male,33.0,0,0,5.0000,S,First,man,True,B,Southampton,no,True

In [ ]:
from sklearn.model_selection import train_test_split

X = data.drop(columns = ['survived', 'alive', 'who', 'adult_male', 'pclass'])
y = data['survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [ ]:
X_train

,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
832,male,NaN,0,0,7.2292,C,Third,NaN,Cherbourg,True
340,male,2.0,1,1,26.0000,S,Second,F,Southampton,False
46,male,NaN,1,0,15.5000,Q,Third,NaN,Queenstown,False
584,male,NaN,0,0,8.7125,C,Third,NaN,Cherbourg,True
101,male,NaN,0,0,7.8958,S,Third,NaN,Southampton,True
...,...,...,...,...,...,...,...,...,...,...
190,female,32.0,0,0,13.0000,S,Second,NaN,Southampton,True
586,male,47.0,0,0,15.0000,S,Second,NaN,Southampton,True
231,male,29.0,0,0,7.7750,S,Third,NaN,Southampton,True
84,female,17.0,0,0,10.5000,S,Second,NaN,Southampton,True
193,male,3.0,1,1,26.0000,S,Second,F,Southampton,False

## (2) A first pipeline

‚ùì Create a basic Pipeline which ***encodes categorical features*** and ***scales numerical features*** ‚ùì

üí° Use [`make_pipeline`](https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.make_pipeline.html) and [`make_column_transformer`](https://scikit-learn.org/stable/modules/generated/sklearn.compose.make_column_transformer.html)

In [ ]:
num_features = ['age','fare','sibsp','parch']
cat_features = ['embarked','class','embark_town']
binary_features = ['sex', 'alone']

In [ ]:
from sklearn import set_config
set_config(display="diagram")

from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer
from sklearn.pipeline import Pipeline

from sklearn.preprocessing import OneHotEncoder, StandardScaler

num_transformer = make_pipeline(
    SimpleImputer(strategy='median'),
    StandardScaler()
)

cat_transformer = make_pipeline(
    SimpleImputer(strategy='constant', fill_value='missing'),
    OneHotEncoder(handle_unknown='ignore')
)

binary_transformer = make_pipeline(
    SimpleImputer(strategy='most_frequent'), 
    OneHotEncoder(handle_unknown='ignore')
)

preprocessor = make_column_transformer(
    (num_transformer, num_features),
    (cat_transformer, cat_features),
    (binary_transformer, binary_features)
)

preprocessor

ColumnTransformer(transformers=[('pipeline-1',
                                 Pipeline(steps=[('simpleimputer',
                                                  SimpleImputer(strategy='median')),
                                                 ('standardscaler',
                                                  StandardScaler())]),
                                 ['age', 'fare', 'sibsp', 'parch']),
                                ('pipeline-2',
                                 Pipeline(steps=[('simpleimputer',
                                                  SimpleImputer(fill_value='missing',
                                                                strategy='constant')),
                                                 ('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore'))]),
                                 ['embarked', 'class', 'embark_town']),
                                ('pipeline-3',
                                 Pipeline(steps=[('simpleimputer',
                                                  SimpleImputer(strategy='most_frequent')),
                                                 ('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore'))]),
                                 ['sex', 'alone'])])

In [ ]:
pd.DataFrame(preprocessor.fit_transform(X_train))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,-0.095287,-0.477094,-0.476629,-0.455278,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,-2.178710,-0.069951,0.519813,0.788748,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
2,-0.095287,-0.297699,0.519813,-0.455278,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
3,-0.095287,-0.444921,-0.476629,-0.455278,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
4,-0.095287,-0.462636,-0.476629,-0.455278,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,0.225239,-0.351924,-0.476629,-0.455278,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
619,1.427214,-0.308544,-0.476629,-0.455278,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
620,-0.015156,-0.465256,-0.476629,-0.455278,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
621,-0.976735,-0.406150,-0.476629,-0.455278,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
622,-2.098578,-0.069951,0.519813,0.788748,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0

<details>
    <summary>üë©üèª‚Äçüè´ <i>Pipeline</i> vs. <i>make_pipeline</i></summary>

* When you create a Pipeline with `Pipeline()`, you have to:
    - specify all the ***sequential steps of the pipeline*** in a list
    - each step is a tuple with:
        - "name_of_the_step"
        - official Scikit-Learn name of the step
    
```python
Pipeline([
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())
])
```
  
* When you create a Pipeline with `make_pipeline()`,
    - you don't have give a name to each step
    - you can simply chain all the steps together using their official Scikit-Learn name
    - the names of the steps are automatically induced by `make_pipeline`
    
```python
make_pipeline(
    SimpleImputer(strategy='median'),
    StandardScaler()
)
```
    
</details>

<details>
    <summary>üë©üèª‚Äçüè´ <i>ColumnTransformer</i> vs. <i>make_column_transformer</i></summary>

* When you create a ColumnTransformer with `ColumnTransformer()`, you have to:
    - specify all the ***parallel steps of the columns' transformer*** in a list
    - each step is a tuple with:
        - "name_of_the_transformer"
        - the transformer
        - the columns which will be impacted by the transformer
    
```python
ColumnTransformer([
    ('num_transformer', num_transformer, num_features),
    ('cat_transformer', cat_transformer, cat_features)
])
```
  
* When you create a ColumnTransformer with `make_column_transformer()`,
    - you don't have give a name to each parallel step
    - each step is a tuple with:
        - the transformer
        - the columns which will be impacted by the transformer
    
```python
make_column_transformer(
    (num_transformer, num_features),
    (cat_transformer, cat_features)
)
```
    
</details>

‚ùì Chain this preprocessing pipeline with a classifier and optimize it ‚ùì

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import RandomizedSearchCV
from scipy import stats

final_pipe = make_pipeline(
    preprocessor,
    LogisticRegression(penalty='l1', solver='liblinear')
)

# If you are not sure about which params of your pipeline to optimize...
# ... remember that you can access them with final_pipe.get.params()

search = RandomizedSearchCV(final_pipe,
                            param_distributions={
                                'logisticregression__C': stats.loguniform(0.01,100), 
                            },
                            cv=3, 
                            scoring="accuracy", 
                            n_iter=20, 
                            n_jobs=-1)

search.fit(X_train,y_train);

‚ùì What are the best params and the best score ‚ùì

In [ ]:
search.best_params_

{'logisticregression__C': 0.301006640574384}

In [ ]:
search.best_score_

0.8041929889755978

## (3) How could we design a Custom Encoder to keep track of the columns' names?

In [ ]:
# By default, OneHotEncoder works with Numpy and loses track of columns' names...
ohe = OneHotEncoder(sparse_output=False)
ohe.fit_transform(X_train[['sex']])

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       ...,
       [0., 1.],
       [1., 0.],
       [0., 1.]])

In [ ]:
# ... however, we can access the one-hot-encoded names as follows
ohe.get_feature_names_out()

array(['sex_female', 'sex_male'], dtype=object)

‚ùì Try to create your own OneHotEncoder so that it preserves the columns names ‚ùì

### üë©üèª‚Äçüè´ Solution üë©üèª‚Äçüè´

#### Wise option: upgrade the initial OneHotEncoder

In [ ]:
from sklearn.preprocessing import OneHotEncoder


class CustomOHE1(OneHotEncoder):

    def transform(self, *args, **kwargs):
        return pd.DataFrame(super().transform(*args, **kwargs), columns=self.get_feature_names_out())

In [ ]:
c = CustomOHE1(sparse_output=False)
c.fit(X_train[['sex']])
c.transform(X_train[['sex']])
c.fit_transform(X_train[['sex']]).head()

   sex_female  sex_male
0         0.0       1.0
1         0.0       1.0
2         0.0       1.0
3         0.0       1.0
4         0.0       1.0

#### Harder option : recode the OneHotEmcoder using _get_dummies_ from _pandas_

In [ ]:
from sklearn.base import TransformerMixin, BaseEstimator


class CustomOHE2(TransformerMixin, BaseEstimator):

    def __init__(self):
        pass

    def fit(self, X):
        X_dummified = pd.get_dummies(X)
        self.columns = X_dummified.columns
        return self

    def transform(self, X):
        X_dummified = pd.get_dummies(X)
        # Only keep columns that are computed in the fit() method
        # Drop new dummy columns if new category appears in the test set that were never seen in train set
        X_dummified_reindexed = X_dummified.reindex(columns=self.columns, fill_value=0)
        return X_dummified_reindexed

In [ ]:
CustomOHE2().fit(X_train[['sex']]).transform(X_train[['sex']])
CustomOHE2().fit_transform(X_train[['sex']]).head()

     sex_female  sex_male
832           0         1
340           0         1
46            0         1
584           0         1
101           0         1

#### Test it within a Pipeline and a ColumnTransformer

In [ ]:
# For the Pipeline, it's working as expected and returns columns' names
pipeline = make_pipeline(CustomOHE1(sparse_output=False))

pd.DataFrame(pipeline.fit_transform(X_train[['sex']])).head()

   sex_female  sex_male
0         0.0       1.0
1         0.0       1.0
2         0.0       1.0
3         0.0       1.0
4         0.0       1.0

**‚ö†Ô∏è But then again, we lose columns' names when passing `CustomOHE1` into a ColumnTransformer!** üëá

In [ ]:
preprocessor = make_column_transformer(
    (CustomOHE1(sparse_output=False), ['sex'])
)

pd.DataFrame(preprocessor.fit_transform(X_train)).head()

     0    1
0  0.0  1.0
1  0.0  1.0
2  0.0  1.0
3  0.0  1.0
4  0.0  1.0

**ü§Øü§Øü§Ø We also have to recode the ColumnTransformer ourself!**  
Good news, our default OneHot should pass the column names now!

In [ ]:
from sklearn.compose import ColumnTransformer

class CustomColumnTransformer(ColumnTransformer):
    def transform(self, *args, **kwargs):
        return pd.DataFrame(super().transform(*args, **kwargs), columns=self.get_feature_names_out())
    def fit_transform(self, *args, **kwargs):
        return pd.DataFrame(super().fit_transform(*args, **kwargs), columns=self.get_feature_names_out())

In [ ]:
preprocessor = CustomColumnTransformer([
    ('ohe', OneHotEncoder(sparse_output=False), ['sex']),
    ('custom_ohe', CustomOHE1(sparse_output=False), ['sex'])
])
preprocessor.fit(X_train)
preprocessor.transform(X_train)
preprocessor.fit_transform(X_train).head()

,ohe__sex_female,ohe__sex_male,custom_ohe__sex_female,custom_ohe__sex_male
0,0.0,1.0,0.0,1.0
1,0.0,1.0,0.0,1.0
2,0.0,1.0,0.0,1.0
3,0.0,1.0,0.0,1.0
4,0.0,1.0,0.0,1.0

üèÅ If you want to build a very advanced pipeline, feel free to explore the Optional Challenge dealing the `cars dataset` !

üíæ Don't forget to git add/commit/push your notebook.

üëè Congratulations, you are now a master at Pipeline and ColumnTransformer.